a{
	text-decoration: none;
	color: #333;
}
.homepage{
	position: relative;
}
.homepage > div:first-child{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


/*---------------*/
/***** boFour *****/
/*---------------*/
#boFour{
	margin-top: 40px;
	width: 770px;
	height: 330px;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 2px solid #F790B9;
	padding:6px; 
}
#boFour li{
	width: 240px;
	height: 160px;
	position: relative;
	overflow: hidden;
}
#boFour li span{
	color: #eee;
	position: absolute;
	top: 70%;
	left: 10%;
	padding-right: 6%;
	z-index: -1;
}
#boFour li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#boFour img{
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%;
	transition: all 0.8s;  
}
#boFour a:hover img{
	 transform: scale(1.4);  
}
#boFour li:first-child{
	width: 520px;
	height: 330px;	
	margin-right: 10px;
}
#boFour li:nth-child(2){
	margin-bottom: 10px;
}
/*---------------*/
/***** blog *****/
/*---------------*/

#blog{
	max-width: 730px;
	margin-top: 40px;
	position: relative;
	/*display: flex;*/
	/*flex-direction: column;*/
}
#blog li{
	position: relative;
	width: 100%;
	margin-top: 12px;
	display: flex;
	border-bottom: 1px solid #aaa;
	padding: 20px;
	transition: all 0.5s;  
}
#blog li .imgBox{
	position: relative;
	width: 220px;
	height: 160px;
	z-index: 9;
	overflow: hidden;
	margin-right: 20px;
}
#blog li img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.8s;  
}
#blog li .imgBox:hover img{
	 transform: scale(1.4);  
}
#blog .blog_msg{
	width: 520px;
}
#blog .blog_msg p{
	font-size: 16px;
	line-height: 36px;
}
#blog .blog_msg span{
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
#blog .blog_msg div{
	height: 36px;
}
#blog li a{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#blog li:hover{
	background: #fff;
}
/*#blog  li > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}*/
/*#blog  ul li a:hover{
	border-color: #F790B9;
	color:#F790B9;
}*/


/*
	时钟
*/

#canvas{
position: absolute;
width: 380px;
height: 180px;
top: 0px;
left: 820px;
background-color : #fff;
border-radius: 10px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/tenten.gif);
}
#hour1{
position: absolute;
width: 180px;
height: 100px;
top: 30px;
left: 20px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#hour2{
position: absolute;
width: 80px;
height: 100px;
top: 30px;
left: 60px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#minute1{
position: absolute;
width: 80px;
height: 100px;
top: 30px;
left: 120px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#minute2{
position: absolute;
width: 80px;
height: 100px;
top: 30px;
left: 160px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#second1{
position: absolute;
width: 80px;
height: 100px;
top: 30px;
left: 220px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#second2{
position: absolute;
width: 80px;
height: 100px;
top: 30px;
left: 260px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
